<?xml version="1.0" encoding="UTF-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.tsb" android:versionCode="1" android:versionName="1.0">  
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="21"/>  
    <supports-screens android:smallScreens="false" android:normalScreens="true" android:largeScreens="false"/>  
    <uses-permission android:name="android.permission.INTERNET"/>  
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>  
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>  
    <!-- Push permissions -->  
    <permission android:name="com.tsb.permission.C2D_MESSAGE" android:protectionLevel="signature"/>  
    <uses-permission android:name="com.tsb.permission.C2D_MESSAGE"/>  
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>  
    <uses-permission android:name="android.permission.WAKE_LOCK"/>  
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>  
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>  
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
      
    <application android:label="@string/app_name" android:icon="@drawable/icon"> 
        <activity android:name=".tsb" android:label="@string/app_name" android:configChanges="orientation|keyboardHidden|screenSize" android:launchMode="singleTask" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:screenOrientation="sensor"> 
            <intent-filter> 
                <action android:name="android.intent.action.MAIN"/>  
                <category android:name="android.intent.category.LAUNCHER"/> 
            </intent-filter>  
            <intent-filter> 
                <action android:name="com.tsb.tsb.NOTIFICATION"/>  
                <category android:name="android.intent.category.DEFAULT"/> 
            </intent-filter> 
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- Preference Activity  -->  
        <!-- <activity android:name="com.worklight.common.WLSettingActivity" android:label="Worklight Settings"></activity> -->  
        
        <!-- UI Activity for displaying native dialogs  -->  
        <activity android:name="com.worklight.wlclient.ui.UIActivity"/>
          
        <activity android:name="com.plugin.gcm.PushHandlerActivity"/>
			<receiver android:name="com.plugin.gcm.CordovaGCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
			    <intent-filter>
			        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
			        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
			        <category android:name="com.tsb" />
			    </intent-filter>
			</receiver>
		<service android:name="com.plugin.gcm.GCMIntentService" />
        
    </application> 
</manifest>
