<ion-modal-view class="modal" id="loginModal">
    <ion-header-bar class="bar-tsb" >
        <h1 class="title">推播註冊</h1>
        <div class="button btn-clear" ng-click="closeModal()"><span class="ion-close"></span></div>
    </ion-header-bar>
    
    <ion-content>

      <div class="padding">
  		<label class='item item-input'>
  			<span>使用者暱稱</span>
    		<input type='text' ng-model='data.userName' placeholder='使用者暱稱'>
  		</label>
	  </div>
	  <button class="button button-block button-light btn" ng-click="register();">註冊推播通知</button>          
	  <button class="button button-block button-light btn" ng-click="unRegister();">取消註冊推播通知</button>
	  <button class="button button-block button-light btn" ng-click="testSend();">推播給自己</button>

    </ion-content>
</ion-modal-view>