<ion-view>
    <ion-nav-buttons side="left">
        <button class="button button-icon notice"><span class="badge badge-assertive">{{badge}}</span></button>
    </ion-nav-buttons>
    <ion-nav-title>
      <img src="images/header/logo.png" class="toolbar-logo">
    </ion-nav-title>

	<ion-content class="MPV">
		<ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" pager-click="true" auto-play="true">
			<ion-slide>
				<img src="images/MPV/tsb0440202.jpg"/>
			</ion-slide>
			<ion-slide>
				<img src="images/MPV/tsb0440204.jpg" />
			</ion-slide>
			<ion-slide>
				<img src="images/MPV/tsb0440206.png" />
			</ion-slide>
			<ion-slide>
				<img src="images/MPV/tsb0440208.jpg" />
			</ion-slide>
			<ion-slide>
				<img src="images/MPV/tsb0440210.jpg" />
			</ion-slide>
		</ion-slide-box>

		<div class="row">
			<div class="col" ng-click="go('qrcode')">
				<div class="menu-icon-border"><i class="icon-qrcode"></i></div>
				<p class="menu-list-text">QRCode</p>
			</div>
			<div class="col" ng-click="go('deviceInfo')">
				<div class="menu-icon-border"><i class="icon-device-mobile"></i></div>
				<p class="menu-list-text">裝置資訊</p>
			</div>
			<div class="col" ng-click="go('account')">
				<div class="menu-icon-border"><img src="images/icons/home_account_service_red.png" class="menu-icon-size"></div>
				<p class="menu-list-text">我的帳戶</p>
			</div>
	    </div>
		<div class="row">
			<div class="col" ng-click="go('message')">
				<div class="menu-icon-border"><i class="ion-chatbubble-working"></i></div>
				<p class="menu-list-text">傳送訊息</p>
			</div>
			<div class="col" ng-click="go('location')">
				<div class="menu-icon-border"><i class="ion-ios-location"></i></div>
				<p class="menu-list-text">定位服務</p>
			</div>
			<div class="col" ng-click="go('fileTransfer')">
				<div class="menu-icon-border"><i class="ion-ios-cloud-upload"></i></div>
				<p class="menu-list-text">檔案上傳</p>
			</div>
	    </div>
	</ion-content>
</ion-view>
